@page "/"


<h1>Simple Input Form</h1>

<form>
    <p>
        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Search" />
    </p>
</form>

@code {
    
}
