@page "/login"

<h1>LoginPage</h1>

<div>
    <label for="username">Enter your username here:</label>
    <input type="text" id="username" @bind="Username" />
</div>

<div>
    <label for="password">Enter your password here: </label>
    <input type="text" id="password" @bind="Password" />
</div>

<div>
    <button @onclick="Submit">Submit</button>
</div>

@if (!string.IsNullOrEmpty(Creds))
{
    <p>Account: @Creds</p>
}

@code {
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    private string Creds { get; set; } = string.Empty;

    private void Submit()
    {
        Creds = $"{Username} {Password}";
    }
}
