@page "/myPage"

<h3>MyPage</h3>

@* Posts *@
<div class="post-item">
    <div class="post-header">
        <img src="@ProfileImageUrl" alt="userImage" />
        <div class="user-info">
            <h3>@UserName</h3>
            <span>@Timestamp.ToString("MMM dd, yyyy h:mm tt")</span>
        </div>
    </div>

    <div>
        <p>@PostText</p>
    </div>

    <div>
        @*likes*@
        @*comments*@
        @*shares*@
    </div>
</div>

@code {
    public string UserName { get; set; }
    public string ProfileImageUrl { get; set; }
    public string PostText { get; set; }
    public int LikeCount { get; set; }
    public DateTime Timestamp { get; set; }

    private void LikePost()
    {
        //to figure out
    }

    private void CommentOnPost()
    {
        //to figure out
    }
}

